  <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/employee">Employee details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/attendance">Attendance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Monthly salary calculation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Work site management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Expense Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Client payment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profit</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">MS FABRIC</h1>
                    <div class="admin-icon">ADMIN</div>
                </div>

                <h2>MS FABRIC ENGINEERING</h2>
                <p class="lead">FOR YOUR BUSINESS</p>

                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon yellow mb-3">&#9633;</div>
                                <h3 class="card-title">Choose Destination</h3>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, tortor tempus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon orange mb-3">&#9673;</div>
                                <h3 class="card-title">Make Payment</h3>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, tortor tempus.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {{#each locations}}
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="path_to_{{this}}_image.jpg" class="card-img-top" alt="{{this}}">
                                <div class="card-body">
                                    <p class="card-text">{{this}}</p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </main>
        </div>
    </div>